Category#1#1:Айвазовский
Category#1#2:Тёрнер
Category#1#3:Гендель
Category#1#4:Чайковский
Category#1#5:Чехов
Category#1#6:Шекспир
Question#1#1:Эта картина Ивана Айвазовского в 2003 году была показана Государственным Русским музеем в Японии. Сначала в Токио, потом в городе Кобэ. Жители этого города подолгу стояли у картины и плакали. Для них полотно оказалось символичным: несколько лет назад в Кобэ произошло страшное землетрясение, в котором погибли тысячи людей.
Answer#1#1#1:девятый вал
Answer#1#1#2:9 вал
Question#1#2:Сколько авторов было у картины "Прощание А.С. Пушкина с морем"?
Answer#1#2#1:2
Answer#1#2#2:два
Question#1#3:Какая из галерей приобрели у Айвазовского в 1841 году картину "Хаос" ("Сотворение мира")?\n1. Третьяковская галерея (Москва)\n2. Галерея Уффици (Флоренция)\n3. Национальная галерея (Лондон)\n4. Художественная галерея Ватикана (пинакотека) (Рим)
Answer#1#3#1:4
Answer#1#3#2:четыре
Answer#1#3#3:художественная галерея ватикана
Answer#1#3#4:художественная галерея ватикана (пинакотека)
Question#1#4:И.К. Айвазовский очень много сделал для своего города Феодосии. Что из перечисленного ниже художник, вложив свои средства, оставил в дар жителям этого крымского города?\n1. Картинная галерея\n2. Водопровод\n3. Железная дорога\n4. Порт
Answer#1#4#1:1,2,3,4
Answer#1#4#2:1, 2, 3, 4
Answer#1#4#3:1234
Answer#1#4#4:1 2 3 4
Question#1#5:Ниже перечислены названия нескольких картин И. Айвазовского. Какой картины с таким же названием нет у У. Тернера?\n1. "Восход солнца"\n2. "Кораблекрушение"\n3. "Извержение Везувия"\n4. "Ледяные горы в Антарктиде"
Answer#1#5#1:4
Answer#1#5#2:четыре
Answer#1#5#3:четвертой
Answer#1#5#4:ледяные горы в антарктиде
Question#1#6:Свое восхищение искусством одного из художников Уильям Тёрнер выразил в стихах на итальянском: "На картине твоей вижу луну с ее золотом и серебром, стоящую над морем, в нем отражающуюся. Поверхность моря, на которую легкий ветерок нагоняет трепетную зыбь, кажется полем искорок. Прости мне, великий художник, если я ошибся, приняв картину за действительность, но работа твоя очаровала меня, и восторг овладел мною. Искусство твое вечно и могущественно, потому что тебя вдохновляет гений". Назовите фамилию этого художника-современника Уильями Тёрнера.
Answer#1#6#1:айвазовский
Question#1#7:Какой цвет не использовал Уильям Тёрнер в своих поздних работах?\n1. Зеленый\n2. Белый\n3. Желтый\n4. Коричневый
Answer#1#7#1:1
Answer#1#7#2:один
Answer#1#7#3:зеленый
Answer#1#7#4:первый
Question#1#8:Современники называли У. Тёрнера\n1. Белый художник\n2. Художник беспредметных пейзажей\n3. Художник тумана\n4. Необузданный художник
Answer#1#8#1:1
Answer#1#8#2:один
Answer#1#8#3:белый художник
Question#1#9:Какая из картин принадлежит кисти Уильями Тёрнера?
Answer#1#9#1:1
Answer#1#9#2:один
Answer#1#9#3:первая
Question#1#10:День рождения Тернера совпадает с днем, когда Англия отмечает день своего покровителя - Святого Георгия. Он также совпадает и с днем, который по традиции считается днем рождения В. Шекспира. Определите день и месяц его рождения.
Answer#1#10#1:23 апреля
Answer#1#10#2:двадцать третье апреля
Answer#1#10#3:23 04
Answer#1#10#4:23.04
Question#1#11:Какой факультет Галльского университета из почтения к памяти отца, цирюльника-хирурга, заканчивает Георг Гендель?\n1. Юридический факультет\n2. Факультет теологии\n3. Факультет философии\n4. Медицинский факультет
Answer#1#11#1:1
Answer#1#11#2:один
Answer#1#11#3:первый
Answer#1#11#4:юридический факультет
Question#1#12:Найдите портрет Г. Генделя.
Answer#1#12#1:1
Answer#1#12#1:один
Answer#1#12#1:первый
Question#1#13:17 июля 1717 года английский король Георг I принял участие в прогулке по Темзе, во время которой исполнялась музыка Генделя. Назовите это музыкальное произведение.
Answer#1#13#1:музыка на воде
Question#1#14:На надгробном памятнике Генделю в Вестминстерском аббатстве (скульптор Л.Ф. Рубийяк, 1761) в руках композитора - лист с арией сопрано: I know that my Redeemer liveth... ("А я знаю, Искупитель мой жив!"). Это фрагмент\n1. Оратории "Мессия"\n2. Оратории "Воскресение"\n3. Оратории "Триумф Времени и Правды"\n4. Оперы "Верный Пастух"
Answer#1#14#1:1
Answer#1#14#2:один
Answer#1#14#3:оратории мессия
Answer#1#14#4:оратория мессия
Question#1#15:Найдите верное продолжение фразы.\nОднажды в беседе с одним из своих почитателей Гендель сказал: "Мне было бы досадно, милорд, если бы я доставлял людям только удовольствие. Моя цель - __________".\n1. Будить в них воображение...\n2. Делать их лучше...\n3. Приобщать их к прекрасному...\n4. Ввести их в мир музыки...
Answer#1#15#1:2
Answer#1#15#2:два
Answer#1#15#3:второе
Answer#1#15#4:делать их лучше
Answer#1#15#5:делать их лучше...
Question#1#16:Найдите лишнее:\n1. "Лебединое озеро"\n2. "Спящая красавица"\n3. "Щелкунчик"\n4. "Иоланта"
Answer#1#16#1:4
Answer#1#16#2:четыре
Answer#1#16#3:четвертое
Answer#1#16#4:иоланта
Question#1#17:К каким трагедиям У. Шекспира П.И. Чайковским была написана музыка?\n1. "Гамлет"\n2. "Ромео и Джульетта"\n3. "Король Лир"\n4. "Отелло"
Answer#1#17#1:1 2
Answer#1#17#2:1,2
Answer#1#17#3:1, 2
Answer#1#17#4:гамлет, ромео и джульетта
Answer#1#17#5:гамлет и ромео и джульетта
Answer#1#17#6:1 и 2
Question#1#18:Музыка Рихарда Вагнера и вид замка Neuschwanstein (Нойшванштайн), которым был очарован Петр Чайковский, способствуют, по легенде, рождению замысла одного из самых замечательных произведений русского композитора. Назовите это музыкальное произведение.
Answer#1#18#1:лебединое озеро
Answer#1#18#2:балет лебединое озеро
Answer#1#18#3:(балет) лебединое озеро
Answer#1#18#4:лебединое озеро (балет)
Question#1#19:Выберите изображение университета, в котором в 1893 году П.И. Чайковский был удостоен степени доктора музыки. Назовите этот университет. Дайте ответ в следующем формате: "цифра, название". Например, если требуемое строение носит название Кремля и изображено на первой картинке, введите "1, Кремль".
Answer#1#19#1:4, кембриджский университет
Answer#1#19#2:4, кембриджский
Answer#1#19#3:4, кембридж
Answer#1#19#4:4, университет кембриджа
Question#1#20:Найти верное продолжение слов П. Чайковского: "Тем, что я посвятил свою жизнь музыке, - я обязан __________".\n1. Моцарту\n2. Генделю\n3. Бетховену\n4. Баху
Answer#1#20#1:1
Answer#1#20#2:один
Answer#1#20#3:первый
Answer#1#20#4:первому
Answer#1#20#5:моцарт
Answer#1#20#6:моцарту
Question#1#21:Петр Гнедич после разговора с А.П. Чеховым записал следующее высказывание: "... Он <Л.Н. Толстой> мне раз сказал: "Вы знаете, я терпеть не могу __________, - но ваши пьесы еще хуже"". Выберите имя драматурга, которого не мог терпеть Л.Н.Толстой.\n1. Б. Шоу\n2. О. Уайльд\n3. В. Шекспир\n4. Н. Гоголь
Answer#1#21#1:3
Answer#1#21#2:три
Answer#1#21#3:третий
Answer#1#21#4:в.шекспир
Answer#1#21#5:в. шекспир
Answer#1#21#6:уильям шекспир
Answer#1#21#7:шекспир
Question#1#22:Английского биографа Чехова, профессора Лондонского университета Доналда Рейфилда в одном из интервью спросили о причинах популярности писателя Чехова именно в Англии.\nОтвет свой он начал с фразы: "Мы, англичане, очень любим __________".\nВыберите пропущенное слово:\n1. Недосказанность\n2. Чувство меры\n3. Лаконичность\n4. Сдержанность
Answer#1#22#1:1
Answer#1#22#2:один
Answer#1#22#3:первое
Answer#1#22#4:недосказанность
Question#1#23:Этому художнику не было двадцати лет, когда П. Третьяков купил у него для своей знаменитой галереи картину "Осенний день. Сокольники". Женскую фигуру, идущую по аллее, молодому пейзажисту помогал писать портретист Николай Чехов, брат А. Чехова. Дружба А. Чехова и этого художника имела глубокие корни. Они одинаково понимали красоту в искусстве. Назовите имя художника.
Answer#1#23#1:исаак левитан
Answer#1#23#2:исаак
Answer#1#23#3:левитан
Question#1#24:Переведите с немецкого языка название пьесы А.П. Чехова "Der Kirschgarten".
Answer#1#24#1:вишневый сад
Question#1#25:Определите, для какого театра была написана первая пьеса Чехова ("Иванов"), поставленная на сцене.\n1. Театр Корша\n2. Александринский театр\n3. Московский Художественный театр\n4. Малый театр
Answer#1#25#1:1
Answer#1#25#2:один
Answer#1#25#3:первый
Answer#1#25#4:театр корша
Question#1#26:Почему в Большом оксфордском словаре ("New English Dictionary on Historical Principles" или "Oxford English Dictionary") особенно часто упоминается имя Шекспира (наиболее часто цитируемый автор)? Выберите ответ.\n1. Шекспир - один из лучших в мире драматургов\n2. Шекспиром введено в английский литературный язык множество новых слов\n3. Работы Шекспира серьезно повлияли на театр и литературу последующих лет\n4. Шекспир создал целую галерею ярких, запоминающихся образов
Answer#1#26#1:2
Answer#1#26#2:два
Answer#1#26#3:второе
Answer#1#26#4:шекспиром введено в английский литературный язык множество новых слов
Question#1#27:В каком из произведений В. Шекспира есть слова: "Чтоб добрым быть, я должен быть жестоким"?\n1. "Король Лир"\n2. "Гамлет"\n3. "Отелло"\n4. "Макбет"
Answer#1#27#1:2
Answer#1#27#2:два
Answer#1#27#3:второе
Answer#1#27#4:гамлет
Question#1#28:В читальном зале библиотеки Оксфордского университета находится экземпляр Первого фолио - первого собрания пьес Шекспира (1623). Страницы одной из пьес более всего потерты студентами, читавшими эту книгу. Назовите эту пьесу.
Answer#1#28#1:ромео и джульетта
Question#1#29:Назовите место, где можно прочитать эти строки на староанглийском?\nGood frend for Iesvs sake forbeare,\nTo digg the dvst encloased heare.\nBleste be ye man yt spares thes stones,\nAnd cvrst be he yt moves my bones.\nДруг, ради Господа, не рой\nОстанков, взятых сей землей;\nНетронувший блажен в веках,\nИ проклят - тронувший мой прах.
Answer#1#29#1:надгробие
Answer#1#29#2:надгробие шекспира
Answer#1#29#3:могила
Answer#1#29#4:могила шекспира
Answer#1#29#5:церковь святой троицы
Answer#1#29#6:стратфорд-на-эйвоне
Answer#1#29#7:надгробие в. шекспира
Answer#1#29#8:надгробие у. шекспира
Answer#1#29#9:надгробие уильяма шекспира
Answer#1#29#10:могила в. шекспира
Answer#1#29#11:могила у. шекспира
Answer#1#29#12:могила уильяма шекспира
Question#1#30:История его началась в 1599 году. Свое название он получил от украшавшей его вход статуи Атланта, поддерживающего земной шар.\nНазовите его и его имя.
Answer#1#30#1:театр глобус
Answer#1#30#2:театр, глобус
Answer#1#30#3:глобус, театр
Answer#1#30#4:он - театр, имя - глобус
Answer#1#30#5:театр, имя - глобус
Answer#1#30#6:театр;глобус
Answer#1#30#7:театр,глобус