Category#1#1:Математика
Category#1#2:Русский_язык
Question#1#1:Сколько будет 2+2?
Answer#1#1#1:4
Answer#1#1#2:четыре
Question#1#2:Если взять кубический корень из 27, то получится это число. Что это за число?
Answer#1#2#1:3
Answer#1#2#2:три
Question#1#3:Имя этого ученого носит введенная им система координат. Назовите его.
Answer#1#3#1:гаусс
Answer#1#3#2:фридрих
Answer#1#3#3:карл
Answer#1#3#4:карл фридрих
Answer#1#3#5:гаусс карл фридрих
Answer#1##6:карл фридрих гаусс
Answer#1#31#7:карл гаусс
Question#1#4:Если к радиусу окружности прибавить еще один радиус, то определенно точно получится длина этого отрезка. Что это за отрезок?
Answer#1#4#1:диаметр
Question#1#5:Интегрирование - обратное действие к...
Answer#1#5#1:дифференциированию
Answer#1#5#2:дифференциирование
Question#1#6:"Жи", "Ши" пиши с букой..
Answer#1#6#1:и
Question#1#7:Напишите существующее русское слово, в котором подряд следуют 3 буквы "е".
Answer#1#7#1:длинношеее
Question#1#8:Какой частью речи является слово "блин"?
Answer#1#8#1:существительным
Answer#1#8#2:существительное
Answer#1#8#3:междометием
Answer#1#8#4:междометие
Answer#1#8#5:существительным или междометием
Answer#1#8#6:междометием или существительным
Answer#1#8#7:существительным и междометием
Answer#1#8#8:междометием и существительным
Question#1#9:Сколько звуков в слове "любовь"?
Answer#1#9#1:5
Answer#1#9#2:пять
Question#1#10:Каким способом образовано слово "по-хорошему"?
Answer#1#10#1:приставочно-суффиксальным
Answer#1#10#2:приставочно-суффиксальный